<%- include("partials/header") -%>

<h1> <strong>Compose</strong></h1>
<form action="/" method="post">
  <h4>Title</h4>
  <input name="title"><br>
  <h4>Text</h4>
  <textarea name="text" rows="8"></textarea><br>
  <button class="btn btn-primary " type="submit" name="button">Submit</button>
</form>



<%- include("partials/footer") -%>
