<%- include("partials/header"); -%>
    <h1><strong>Contact</strong></h1>
    <p><strong>Email: </strong>kaan.taskingenc@gmail.com</p>
    <p><strong>Linkedin: </strong><a href="https://www.linkedin.com/in/cetinkaantaskingenc/">Çetin Kaan Taşkıngenç</a></p>
    <p><strong>Instagram: </strong><a href="https://www.instagram.com/cetinkaantaskingenc/">Çetin Kaan Taşkıngenç</a></p>
    <p><strong>Github: </strong><a href="https://github.com/cetinkaantaskingenc">cetinkaantaskingenc</a></p>
<%- include("partials/footer"); -%>
